#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 80%;
  border-color: #d97a00;
}

.button {
  background-color: #00afaf; /* Un color púrpura personalizado */
  border-color: #00afaf;
}

.button:hover {
  background-color: #d97a00;
}

nav {
  background-color: #00afaf;
  height: 70px;
  color: white;
}

.background {
  /* background-image: url("./assets/img/Fondo.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgb(235, 247, 247);
}

body {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}


